<html>
        <head>
        <script type="text/javascript">
        function toggleElement()
        {
        var d = document.getElementById("p1").display;
        if (d=='none')
        d='block';
        else d = "none";
        }
        </script>
        </head>
        <body>
        
        <h1>This is a header</h1>
        
        <p id="p1" display="block">This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.</p>
        
        <input type="button" onclick="toggleElement()" value="Do not display paragraph" />
        
        </body>
        </html>
        